{% extends 'base.html' %}
{% load static %}

      {% block content %}
      <header class="bg-light py-5">
         <div class="container px-4 px-lg-5 my-5">
             <div class="text-center text-black">
                 <h1 class="display-4 fw-bolder">ABOUT US</h1>
                 <p class="lead fw-normal text-black-50 mb-0">A one stop shop where quality meets quantity</p>
             </div>
         </div>
     </header>

      <div class="about_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-6">
                  <h1 class="about_taital">About Our Shop</h1>
                  <p class="about_text">
                     Welcome to Progress ICT Gadgets Store, your one-stop destination for cutting-edge 
                     technology solutions and premium gadgets! </br>
                     At Progress ICT, we are passionate about empowering lives and businesses with 
                     innovative ICT products and services. From the latest smartphones and laptops to 
                     high-performance accessories and smart devices, 
                     our goal is to provide you with a seamless blend of quality, functionality, and style. </br></br>
                     <strong>
                      Why Choose Us? </br></br>
                     </strong>
                     <ul>
                        <li>
                           <strong>Wide Range of Products:</strong> Whether you’re a tech enthusiast, a professional, 
                           or simply looking to upgrade your gadgets, 
                           we’ve got you covered with a diverse collection tailored to meet your unique needs.
                        </li>
                        <li>
                           <strong>Quality You can Trust:</strong> We partner with top brands to bring you authentic, 
                              high-performance products that stand the test of time.
                        </li>
                        <li>
                           <strong>Customer-centric Approach:</strong> Your satisfaction is our priority. 
                              Our friendly team is dedicated to guiding you through every step of your tech journey, 
                              ensuring an exceptional shopping experience.
                        </li>
                        <li>
                           <strong>Competitive Prices:</strong> Enjoy unbeatable value with our affordable prices 
                              and special offers that make premium technology accessible to everyone.
                        </li>
                     </ul>
                     <strong>
                        Our Vision </br></br>
                     </strong>
                     <p>
                        To be a trusted leader in the ICT retail industry, 
                        inspiring innovation and simplifying technology for individuals and businesses worldwide.
                     </p>
                     <strong>
                        Our Mission </br></br>
                     </strong>
                     <p>
                        To connect people with the latest tech solutions, 
                        enhancing productivity and enriching lives through exceptional products and services. </br>
                        At Progress ICT Gadgets Store, we believe technology is the gateway to progress. Step into our store or 
                        browse our online catalog today and discover how we can help you stay ahead in the digital age.
                     </p>
                  </p>
                  <div class="read_bt"><a href="#">Go to Shop</a></div>
               </div>
               <div class="col-md-6">
                  <div class="image_1"><img src="{% static 'assets/Dell1.jpg' %}"></div>
               </div>
            </div>
         </div>
      </div>
      <!--about section end -->
      {% endblock %}